@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
  body {
    background-image: url(/Project/Images/arena.jpg);
    background-attachment: fixed;
    background-size:cover;
  }

  #ulNav {
    list-style-type: none;
    margin-left: -20px;
    margin-top: -12px;
    overflow: hidden;
    background-color: rgb(44, 38, 38);;
    height: 80px;
    width: 99.4%;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,.5);
  }
  
  li {
    display: inline;
  }
  
  .navText {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    text-decoration: none;
    display: block;
    color: white;
    border: 10px;
    border-color: white;
    text-align: center;
    padding: 3px 50px;
    transition: 0.2s;
  }

  .navText:hover {
    font-size: 45px;
    text-align: center;
    color: rgb(0, 255, 229);
    margin-top: -5px;
  }

  .space {
    padding: 25px 1px;
    float: left;
  }

  .spaceRightBound {
    padding: 25px 1px;
    float: right;
  }

  #signup{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 38, 38);
    margin-top: -20px;
    margin-left: 50px;
    margin-right: 40px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 5px black;    
    border-radius: 5px;
  }

  #signup:hover{
    color:rgb(44, 38, 38);
    background-color: rgba(0, 255, 229, 0.85);
    transition: 0.3s;
  }

  #login{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 38, 38);
    margin-top: 15px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 5px black;    
    border-radius: 5px;
  }

  #login:hover{
    color:rgb(44, 38, 38);
    background-color: rgba(0, 255, 229, 0.85);
    transition: 0.3s;
  }

  section {
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(71, 71, 71);
    border-radius: 30px;
    text-align: center;
  }
  section > h1 {
    font-size: 64px;
    color: white;
    padding-bottom: 40px;
  }
  section > p {
    font-size: 30px;
    color: white;
  }
  
  p > a {
    color:rgb(0, 255, 229);
    text-decoration: none;
  }