@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
  body {
    background-image: url(/Images/arena_background.jpg);
    background-attachment: fixed;
    background-size:cover;
    width: 98%;
  }
/*Nav bar*/
/*==================================================*/
  #ulNav {
    list-style-type: none;
    margin-left: -20px;
    margin-top: -3%;
    overflow: hidden;
    background-color: rgb(44, 38, 38);;
    height: 80px;
    width: 99.4%;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,.5);
    position:fixed;
  }
  
  nav > ul > li {
    display: inline;
  }
  
  .navText {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    text-decoration: none;
    display: block;
    color: white;
    border: 10px;
    border-color: white;
    text-align: center;
    padding: 3px 50px;
    transition: 0.2s;
  }

  .navText:hover {
    font-size: 40px;
    text-align: center;
    color: rgb(0, 255, 229);
    margin-top: -5px;
  }

  .navSpace {
    padding: 25px 1px;
    float: left;
  }

  .navSpaceRightBound {
    padding: 25px 1px;
    float: right;
  }

  #signup{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 38, 38);
    margin-top: -20px;
    margin-left: 50px;
    margin-right: 40px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 5px black;    
    border-radius: 5px;
  }

  #signup:hover{
    color:rgb(44, 38, 38);
    background-color: rgba(0, 255, 229, 0.85);
    transition: 0.3s;
  }

  #login{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 38, 38);
    margin-top: 15px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 5px black;    
    border-radius: 5px;
  }

  #login:hover{
    color:rgb(44, 38, 38);
    background-color: rgba(0, 255, 229, 0.85);
    transition: 0.3s;
  }
/*==================================================*/
/*/Nav bar*/

/* Main Page */
  .grid-container {
    display: grid;
    grid-template-columns: 32% 69%;  
    padding-top: 71px;
    margin-right: -9px;
    margin-left: -9px;
    margin-bottom: 2000px;
    
  }
  #grid-item-left {
    background-color: rgba(69, 69, 69, 0.85);
    color:rgb(27, 27, 27);
    font-size: 30px;
    text-align: center;
  }

  #grid-item-right {
    background-color: rgba(255, 255, 255, 0.85);
    color:rgb(27, 27, 27);
    border-left: 5px solid rgba(0, 202, 182, 0.472);
    font-size: 30px;
    text-align: left;
  }

  .mediumPictures {
    width: 32%;
    height: 18%;
    border-color: rgb(0, 100, 200);
    border-radius: 10px;
    margin-left: 2%;
  }
  .mediumPictures:hover{
    box-shadow: 0 0 2px 1px rgb(0,130,200);
  }
  .TopNewsPictures{
    width: 356;
    height: 200;
  }
  section{
    background-color: rgb(10, 245, 10);
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    border: rgb(102, 11, 187);
    border-radius: 10px;
    border-width: 20px;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  /* /Main Page */