@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
body {
  background-image: url(/Project/Images/arenabackground.jpg);
  background-attachment:fixed;
  background-size:cover;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
/*Nav bar*/
/*==================================================*/
  #ulNav {
    list-style-type: none;
    margin-left: -20px;
    margin-top: -3%;
    overflow: hidden;
    background-color: rgb(44, 38, 38);;
    height: 80px;
    width: 99.4%;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,.5);
    position:fixed;
  }
  
  nav > ul > li {
    display: inline;
  }
  
  .navText {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    text-decoration: none;
    display: block;
    color: white;
    border: 10px;
    border-color: white;
    text-align: center;
    padding: 3px 50px;
    transition: 0.2s;
  }

  .navText:hover {
    font-size: 40px;
    text-align: center;
    color: rgba(188, 247, 255, 0.85);
    margin-top: -5px;
  }

  .navSpace {
    padding: 25px 1px;
    float: left;
  }

  .navSpaceRightBound {
    padding: 25px 1px;
    float: right;
  }

  #signup{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 38, 38);
    margin-top: -20px;
    margin-left: 50px;
    margin-right: 40px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 5px black;    
    border-radius: 5px;
  }

  #signup:hover{
    color:rgb(44, 38, 38);
    background-color: rgb(188, 247, 255);
    transition: 0.3s;
  }

  #login{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 38, 38);
    margin-top: 15px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 5px black;    
    border-radius: 5px;
  }

  #login:hover{
    color:rgb(44, 38, 38);
    background-color: rgb(188, 247, 255);
    transition: 0.3s;
  }
/*==================================================*/
/*/Nav bar*/

/* Main Page */
  .grid-container {
    display: grid;
    grid-template-columns: 32% 69%;  
    padding-top: 71px;
    margin-right: -9px;
    margin-left: -9px;
    margin-bottom: 2000px;
    
  }
  #grid-item-left {
    background-color: rgba(69, 69, 69, 0.85);
    color:rgb(27, 27, 27);
    font-size: 30px;
    text-align: center;
  }

  #grid-item-right {
    background-color: rgba(255, 255, 255, 0.85);
    color:rgb(27, 27, 27);
    border-left: 5px solid rgba(0, 202, 182, 0.472);
    font-size: 30px;
    text-align: left;
  }

  .mediumPictures {
    width: 28.5%;
    height: 16%;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: -2.3%;
    box-shadow:  0 0 2px 1px rgb(0, 0, 0);
  }
  .mediumPictures:hover{
    box-shadow: 0 0 10px 1px rgb(185, 230, 255);
  }
  .TopNewsPictures{
    width: 327.45;
    height: 185;
  }
  article{
    background-color: rgb(188, 247, 255);
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz',sans-serif;
    border-radius: 10px;
    box-shadow:  0 0 2px 1px rgb(0, 0, 0);
    padding-right: -20%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 4%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 400;
  }

  /* /Main Page */