@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
body {
  background-color:#000000;
  background-attachment:fixed;
  background-size:cover;
  width: 100%;
}

/*Nav bar*/
/*==================================================*/
  #ulNav {
    list-style-type: none;
    margin-left: -1.25em;
    margin-top: -1.25em;
    margin-right: 1em;
    padding-bottom: 5.5em;
    overflow: hidden;
    background-color: #000000;
    height: 5em;
    width: 101.05%;
  }
  
  nav > ul > li {
    display: inline;
  }
  
  .navText {
    font-family: helvetica,arial,sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    color: #f6f2f2;
    border: 0.625em;
    border-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.1em 1.3em;
  }

  .navText:hover {
    text-align: center;
    color: #97fb57;
    margin-top: -2.5px;
    transition: 0.2s;
    text-decoration: none;
  }

  .navSpace {
    padding: 1.875em 0.0625em;
    float: left;
  }

  .navSpaceRightBound {
    padding: 1.875em 0.0625em;
    float: right;
  }

  #signup{
    font-family: helvetica,arial,sans-serif;
    font-size: 2.0625em;
    text-decoration: none;
    color: #000000;
    background-color: #97fb57;
    margin-left: 1.2em;
    margin-right: 0.2em;
    padding: 0.2em;
    padding-left: 0.375em;
    padding-right: 0.375em;   
    border-radius: 0.2em;
  }

  #signup:hover{
    background-color: #4a7a2d;
    transition: 0.2s;
  }

  #login{
    font-family: helvetica,arial,sans-serif;
    font-size: 2.0625em;
    text-decoration: none;
    color: #97fb57;
    background-color: #000000;
    padding: 0.1em;
    padding-left: 0.275em;
    padding-right: 0.275em;  
    
  }

  #login:hover{
    padding-right: 0.175em;
    border-radius: 0.2em;
    border: solid 0.1em #97fb57;
    background-color: #000000;
    transition: 0.08s;
  }
/*==================================================*/
/*/Nav bar*/

/*==================================================*/
/* Main Page */
  article{
    background-color:#000000;
    font-family: helvetica,arial,sans-serif;
    font-weight: 500;
  }
  .TopNewsPictures{
    width: 327.45;
    height: 185;
  }

  .border-background
  {
    background-color: rgb(255, 255, 255);
    border:solid 0.006em rgb(26, 24, 24);
  }
  .smallPfp
  {
    margin-left: 2em;
    width: 2em;
    height: 2em;
    border-radius: 2em;
  }
  .smallPfp:hover{
    width: 2.2em;
    height: 2.2em;
  }
  #gridHome
  {
    
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 869px ;
    grid-template-areas: "LiveGamesColumn HomeContent";
    margin-top: -1em;
  }
  #Home
  {
    grid-area: "HomeContent";
    background-color: #97fb57;
    border: solid 0.09em #97fb57;
    color:#f6f2f2;
    font-weight: 600;
    padding-top:0.1em ;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  .HomeDiashowPics
  {
    width: 80%em;
    height: 45%;
  }
  #LiveGamesColumn
  {
    grid-area: "LiveGamesColumn";
    background-color: #121212;
    border: solid 0.2em #97fb57;
    border-left: none;
    padding-left: 1.5em;
    padding-top: 1em;
    color: #f6f2f2;
  }
  .LiveGamesInHome
  {
    margin-top: 1em;
    margin-bottom: 6em;
    margin-left: 1em;
    
  }
  
  #gridGames
  {
    margin-top: -1em;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 44% 44%;
    grid-template-areas: "Playing Games"
                         "Upcoming Games";
  }
  #Games{
    grid-area: "Games";
    height: 200%;
    background-color: #121212;
    border:solid #b2c0ca 0.09em;
    padding: 1em;
    color: #f6f2f2;
  }
  #Playing
  {
    grid-area: "Playing";
    background-color: #909090;
    border:solid #161616 0.09em;
    color: #f6f2f2;
    border-radius: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
  }
  #Upcoming
  {
    grid-area: "Upcoming";
    background-color: #97fb57;
    border:solid #245563 0.09em;
    border-radius: 0.2em;

    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
  }
  #gridAboutUs
  {
    margin-top: -1em;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 869;;
    grid-template-areas: "AboutUs Profiles";
  }
  #AboutUsColumn
  {
    grid-area:AboutUs;
    background-color: #121212;
    color: #f6f2f2;
    padding-left: 3em;
    padding-top: 2em;
    border-top: solid 0.2em #97fb57;
    border-right: solid 0.1em #97fb57
    
  }
  #ProfilesColumn
  {
    grid-area:Profiles;
    position:fixed;
    right:0;
    border-top: solid #97fb57 0.2em;
  }
  .Profiles
  {
    background-color: #97fb57;
    border-radius: 0.4em;
    margin-right: 2.25em;
    margin-top: 2em;
    padding: 1em;
  }
  .aboutUsPics{
    width:20em;
    height: 11.25em;
    margin-bottom: 2em;
    border-radius: 0.6em;
  }
  .aboutUsPics:hover{
    box-shadow: 0em 0em 0.2em 0.06em #97fb57;
  }
  #HTLPic
  {
    float:right;
    margin-top: -12em;
    width:32em;
    height: 18em;
    margin-right: 5em;
    border:#97fb57
  }
  /*==================================================*/
  /* /Main Page */


  /* Login */ 
  /*==================================================*/

  #login-Body {
    background-color: rgb(240, 240, 240);
    background-image: none;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  }

  #login-Div {
    background-color: violet;
    width: 70em;
    height: 40em;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "side main";
    border-radius: 2em;
    box-shadow: 0 0 1em -0.125em rgba(0,0,0,.5);
  }

  #login-Side {
    background-image: url(/Images/PL\ pink\ side.jpg);
    opacity: 0.875;
    background-color: #270027;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-Side-Content {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    /*-webkit-text-stroke: 0.2px rgb(0, 0, 0);
    font-weight: 7000; */   
  }

  #login-Side-Header {
    font-size: 3em;
    margin-bottom: 1em;
  }

  .login-Side-Paragraph {
    font-size: 1.2em;
    margin: 0.3em;
    font-weight: 7000;
  }

  #login-Side-Button {
    background-color: purple;
    margin-top: 4em;
    padding: 1.5em 6em;
    border: white 1px;
    border-style: solid;
    border-radius: 2em;
    box-shadow: 0 0 1em -0.125em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
  }

  #login-Side-Button:hover {
    background-color: rgb(104, 0, 104);
    transition: 0.2s;
  }

  #login-Main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #login-Main-Header {
    font-size: 3em;
    margin-bottom: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    cursor:pointer;
  }

  .login-Main-Input {
    background-color: #f4f8f8;
    color: #757575;
    font-size: 1.3em;
    padding: 0.7em ;
    padding-right: 7em;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }

  #login-Main-Button {
    background-color: purple;
    margin-top: 4em;
    padding: 1.5em 6em;
    border-radius: 2em;
    border: none;
    margin-top: 0em;
    margin-bottom: 0em;
    cursor: pointer;
  }

  #login-Main-Button:hover {
    background-color: rgb(104, 0, 104);
    transition: 0.2s;
  }
  /*==================================================*/
  /* /Login */


  /* Signup */ 
  /*==================================================*/

  #signup-Body {
    background-color: rgb(240, 240, 240);
    background-image: none;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  }

  #signup-Div {
    background-color: violet;
    width: 70em;
    height: 40em;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "side main";
    border-radius: 2em;
    box-shadow: 0 0 1em -0.125em rgba(0,0,0,.5);
  
  }

  #signup-Side {
    background-image: url(/Images/PL\ dgreen\ side.jpg);
    opacity: 0.875;
    background-color: #06d98b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signup-Side-Content {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    /*-webkit-text-stroke: 0.2px rgb(0, 0, 0);
    font-weight: 7000; */   
  }

  #signup-Side-Header {
    font-size: 3em;
    margin-bottom: 1em;
  }

  .signup-Side-Paragraph {
    font-size: 1.2em;
    margin: 0.3em;
    font-weight: 7000;
  }

  #signup-Side-Button {
    background-color: #03cf84;
    margin-top: 4em;
    padding: 1.5em 6em;
    border: white 1px;
    border-style: solid;
    border-radius: 2em;
    box-shadow: 0 0 1em -0.125em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
  }

  #signup-Side-Button:hover {
    background-color: #05a76b;
    transition: 0.2s;
  }

  #signup-Main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #signup-Main-Header {
    font-size: 3em;
    margin-bottom: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #03cf84;
    cursor:pointer;
  }

  .signup-Main-Input {
    background-color: #f4f8f8;
    color: #757575;
    font-size: 1.3em;
    padding: 0.7em ;
    padding-right: 7em;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }

  #signup-Main-Button {
    background-color: #03cf84;
    margin-top: 4em;
    padding: 1.5em 6em;
    border-radius: 2em;
    border: none;
    margin-top: 0em;
    margin-bottom: 0em;
    cursor: pointer;
  }

  #signup-Main-Button:hover {
    background-color: #05a76b;
    transition: 0.2s;
  }

  #forgot-Password {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0em;
    margin-bottom: 4em;
    color: #757575;
  }

  /*==================================================*/
  /* /Singup */