@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
body {
  background-color:white;
  background-attachment:fixed;
  background-size:cover;
  width: 100%;
}
/*Nav bar*/
/*==================================================*/
  #ulNav {
    list-style-type: none;
    margin-left: -1.25em;
    margin-top: -1.25em;
    padding-bottom: 5.5em;
    overflow: hidden;
    background-color: #ffffff;
    height: 5em;
    width: 120.2em;
  }
  
  nav > ul > li {
    display: inline;
  }
  
  .navText {
    font-family: dm sans,Sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    border: 0.625em;
    border-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.1em 1.3em;
  }

  .navText:hover {
    text-align: center;
    color: #52ab98;
    margin-top: -2.5px;
    transition: 0.2s;
    text-decoration: none;
  }

  .navSpace {
    padding: 1.875em 0.0625em;
    float: left;
  }

  .navSpaceRightBound {
    padding: 1.875em 0.0625em;
    float: right;
  }

  #signup{
    font-family: dm sans,Sans-serif;
    font-size: 2.0625em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #52ab98;
    margin-left: 1.2em;
    margin-right: 1.2em;
    padding: 0.2em;
    padding-left: 0.375em;
    padding-right: 0.375em;   
    border-radius: 0.2em;
  }

  #signup:hover{
    background-color: #328b78;
    transition: 0.2s;
  }

  #login{
    font-family: dm sans,Sans-serif;
    font-size: 2.0625em;
    text-decoration: none;
    color: #52ab98;
    background-color: white;
    /*background-color: rgb(44, 38, 38);*/
    padding: 0.1em;
    padding-left: 0.275em;
    padding-right: 0.275em;  
    
  }

  #login:hover{
    padding-right: 0.175em;
    border-radius: 0.2em;
    border: solid 0.1em #52ab98;
    background-color: #dfdfdf;
    transition: 0.2s;
  }
/*==================================================*/
/*/Nav bar*/

/*==================================================*/
/* Main Page */
  .grid-container {
    display: grid;
    grid-template-columns: 32% 69%;  
    padding-top: 71px;
    margin-right: -9px;
    margin-left: -9px;
    margin-bottom: 2000px;
    
  }
  #grid-item-left {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(188, 247, 255);
    color:rgb(27, 27, 27);
    font-size: 30px;
    text-align: center;
  }

  #grid-item-right {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.85);
    color:rgb(27, 27, 27);
    border-left: 5px solid rgba(0, 202, 182, 0.472);
    font-size: 30px;
    text-align: left;
    padding-left: 1em;
  }

  .mediumPictures {
    width: 28.5%;
    height: 16%;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: -2.3%;
    box-shadow:  0 0 0.2em 0.02em rgb(0, 0, 0);
  }
  .mediumPictures:hover{
    box-shadow: 0 0 0.4em 0.07em rgb(39, 0, 39);
  }
  .TopNewsPictures{
    width: 327.45;
    height: 185;
  }
  .main-section
  {
    padding-right: -2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-left: 5em;
    margin-right: 15em;
    margin-bottom: 0.2em;
    margin-top: -0.6em;
  }
  #profile{
    right: 0;
    position:fixed;
  }
  .profiles{
    padding-right: 3em;
    padding-left: 1em;
    padding-top: 0.5em;
    margin-left: 0.2em;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .border-background
  {
    background-color: rgb(255, 255, 255);
    border:solid 0.006em rgb(26, 24, 24);
  }
  .smallLogos
  {
    width:2.4em;
    height: 1.35em;
  }
  .smallPfp
  {
    margin-left: 2em;
    width: 2em;
    height: 2em;
    border-radius: 2em;
  }
  #gridHome
  {
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: 869px ;
    grid-template-areas: "NewsColumn HomeContent LiveGamesColumn";
    margin-top: -1em;
  }

  #NewsColumn
  {
    grid-area: "NewsColumn";
    background-color: #2b6777;
    border: solid 0.09em #235a69;
    padding-left: 1.5em;
    padding-top: 0.5em;
    color: white;
  }
  #Home
  {
    grid-area: "HomeContent";
    background-color: #c8d8e4;
    border: solid 0.09em #a9bbc7;
    padding-left: 1.75em;
    padding-top: 0.5em;
    color:#2b6777;
  }
  #LiveGamesColumn
  {
    grid-area: "LiveGamesColumn";
    background-color: #f2f2f2;
    border: solid 0.09em rgb(173, 187, 196);
    padding-left: 1.5em;
    padding-top: 0.5em;
  }
  .LiveGamesInHome
  {
    margin-top: 1em;
    margin-bottom: 6em;
    margin-left: 1em;
  }
  .NewsInHome
  {
    margin-top: 1em;
    margin-bottom: 6em;
    margin-left: 1em;
  }
  #gridGames
  {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 469px 400px;
    grid-template-areas: "Games Playing"
                         "Upcoming Upcoming";
  }
  #Games{
    grid-area: "Games";
    background-color: #c8d8e4;
    border:solid #b2c0ca 0.09em;
  }
  #Playing
  {
    grid-area: "Playing";
    background-color: #ffffff;
    border:solid #e2e2e2 0.09em;
  }
  #Upcoming
  {
    grid-area: "Upcoming";
    background-color: #2b6777;
    border:solid #245563 0.09em;
  }
  /*==================================================*/
  /* /Main Page */


  /* Login */ 
  /*==================================================*/

  #login-Body {
    background-color: rgb(240, 240, 240);
    background-image: none;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  }

  #login-Div {
    background-color: violet;
    width: 70em;
    height: 40em;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "side main";
    border-radius: 2em;
    box-shadow: 0 0 1em -0.125em rgba(0,0,0,.5);
  }

  #login-Side {
    background-image: url(/Images/PL\ pink\ side.jpg);
    opacity: 0.875;
    background-color: #270027;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-Side-Content {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    /*-webkit-text-stroke: 0.2px rgb(0, 0, 0);
    font-weight: 7000; */   
  }

  #login-Side-Header {
    font-size: 3em;
    margin-bottom: 1em;
  }

  .login-Side-Paragraph {
    font-size: 1.2em;
    margin: 0.3em;
    font-weight: 7000;
  }

  #login-Side-Button {
    background-color: purple;
    margin-top: 4em;
    padding: 1.5em 6em;
    border: white 1px;
    border-style: solid;
    border-radius: 2em;
    box-shadow: 0 0 1em -0.125em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
  }

  #login-Side-Button:hover {
    background-color: rgb(104, 0, 104);
    transition: 0.2s;
  }

  #login-Main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #login-Main-Header {
    font-size: 3em;
    margin-bottom: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    cursor:pointer;
  }

  .login-Main-Input {
    background-color: #f4f8f8;
    color: #757575;
    font-size: 1.3em;
    padding: 0.7em ;
    padding-right: 7em;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }

  #login-Main-Button {
    background-color: purple;
    margin-top: 4em;
    padding: 1.5em 6em;
    border-radius: 2em;
    border: none;
    margin-top: 0em;
    margin-bottom: 0em;
    cursor: pointer;
  }

  #login-Main-Button:hover {
    background-color: rgb(104, 0, 104);
    transition: 0.2s;
  }
  /*==================================================*/
  /* /Login */


  /* Signup */ 
  /*==================================================*/

  #signup-Body {
    background-color: rgb(240, 240, 240);
    background-image: none;
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
  }

  #signup-Div {
    background-color: violet;
    width: 70em;
    height: 40em;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "side main";
    border-radius: 2em;
    box-shadow: 0 0 1em -0.125em rgba(0,0,0,.5);
  
  }

  #signup-Side {
    background-image: url(/Images/PL\ dgreen\ side.jpg);
    opacity: 0.875;
    background-color: #06d98b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signup-Side-Content {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    /*-webkit-text-stroke: 0.2px rgb(0, 0, 0);
    font-weight: 7000; */   
  }

  #signup-Side-Header {
    font-size: 3em;
    margin-bottom: 1em;
  }

  .signup-Side-Paragraph {
    font-size: 1.2em;
    margin: 0.3em;
    font-weight: 7000;
  }

  #signup-Side-Button {
    background-color: #03cf84;
    margin-top: 4em;
    padding: 1.5em 6em;
    border: white 1px;
    border-style: solid;
    border-radius: 2em;
    box-shadow: 0 0 1em -0.125em rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
  }

  #signup-Side-Button:hover {
    background-color: #05a76b;
    transition: 0.2s;
  }

  #signup-Main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #signup-Main-Header {
    font-size: 3em;
    margin-bottom: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #03cf84;
    cursor:pointer;
  }

  .signup-Main-Input {
    background-color: #f4f8f8;
    color: #757575;
    font-size: 1.3em;
    padding: 0.7em ;
    padding-right: 7em;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }

  #signup-Main-Button {
    background-color: #03cf84;
    margin-top: 4em;
    padding: 1.5em 6em;
    border-radius: 2em;
    border: none;
    margin-top: 0em;
    margin-bottom: 0em;
    cursor: pointer;
  }

  #signup-Main-Button:hover {
    background-color: #05a76b;
    transition: 0.2s;
  }

  #forgot-Password {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0em;
    margin-bottom: 4em;
    color: #757575;
  }

  /*==================================================*/
  /* /Singup */